# TAILSCALE CONFIG
TAILNET_ID='your_tailnet_id_here'
TAILNET_API_KEY='tskey-api-your_secret_key_here'
TAILNET_BASE_URL='https://api.tailscale.com/api/v2'

# APPLICATION PORT
PORT=2400

# REDIS CONFIG
# Format: rediss://default:password@host:port or redis://host:port
REDIS_URL='redis://localhost:6379'

# HOST IDENTIFICATION
HOST_IP='100.x.y.z'

# WOL SERVICE PORT
WOL_SERVICE_PORT=2500

# ONESIGNAL CONFIG
ONESIGNAL_APP_ID='your_onesignal_app_id'
ONESIGNAL_REST_KEY='your_onesignal_rest_key'
ONESIGNAL_ANDROID_IMPORTANT_CHANNEL_ID='your_channel_id_here'

# NTFY CONFIG
NTFY_URL='your_self_hosted_instance_url'
NTFY_TOPIC='your_unique_ntfy_topic'

# MONGODB CONFIG
# Example: mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_URI='mongodb://localhost:27017'
DB_NAME='tsync'

# TELEGRAM CONFIG
TELEGRAM_API_ID='your_telegram_api_id'
TELEGRAM_API_HASH='your_telegram_api_hash'
TELEGRAM_PHONE_NUMBER='+1234567890'
TELEGRAM_SESSION='your_generated_session_string_here'
TELEGRAM_TARGET_BOT_USERNAME='your_bot_username'
